td, th {
    white-space: nowrap;
}

.notifications {
    position: fixed;
    z-index: 1;
    background: #000;
    margin-left: 15px;
}
/*********************
    Filter
**********************/
.dropdown, .btnFilter{
  width: 100%;
  margin: 1px;
}

.filter_col{
    width: 14%;
}
.filter_panel{
  padding-right: 0;
  padding-left: 0;
  border: 1px solid #DDD;
}

.filter_panel .panel-heading{
  padding: 5px;
  height: 45px;
}

.filter_panel .panel-body{
  padding: 8px 15px 8px 10px;
}

.btn_filter{
  width: 100%;
  margin: 1px;
}

.dropdown li {
	padding-left: 7px;
  color: black;
}

/*********************
    Footer
**********************/
#footer {
    color: white;
    text-align:
     center;
    padding: 5px;
    background-color: #22313F;
    bottom: 0;
    position: fixed;
    margin: 0;
    width: 100%;
}

/*********************
    Image Gallery
**********************/
.image_gallery .main_image{
  position: block;
  width: 50%;
  margin: auto 25%;
}

/* Hide the images by default */
.main_image{
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.listings_info .row:after {
  content: "";
  display: table;
  clear: both;
}
.listings_info .col-sm-8{
  padding: auto;
}
.image_gallery .column {
  display: table-cell;
  width: 100px;
  height: 100px;
}

.image_gallery .column img{
  width: 100%;
  height: 130px;
}

/* Add a transparency effect for thumnbail images */
.image_gallery .demo {
  opacity: 0.6;
}

.image_gallery .demo:hover {
  opacity: 1;
}

.listings_update .image_gallery img{
  width: 250px;
  height: 200px;
}

/*********************
      Dropdown
**********************/
.form-control[readonly]{
  background-color: #fff;
}
/*********************
    Alert Validation
**********************/
.listing_alert_validation{
  margin-bottom: 0 !important;
}

/*********************
    Delete Modal
**********************/
.modal-dialog {
    border-radius: 10px;
    height: 180px;
    margin: 200px auto !important;
}
.modal-content {
  border-radius: 10px;
  height: 180px;
}
.modal-header{
  border-radius: 10px 10px 0 0; 
  background-color: #30a5ff;
  padding: 8px;
}
.modal-header h5{
  color: #fff;
}

/*********************
        Tables
**********************/
.tab-content{
  background-color: #fff;
}

.bedrooms_table{
  margin: auto;
}

.dt-button{
  padding: 6px 12px;
  color: #30a5ff;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.dt-button:hover{
  background-color: #DDD;
}

/*********************
    File Uploading
**********************/
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/*********************
     Date Picker
**********************/
.div_listing_datepicker{
  display: none;
}
.ui-datepicker {
    width: 250px;
}

.listing_datepicker{
  width: 250px;
  margin-top: 5px;
  height: 46px;    
  padding: 6px 12px;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius:  0 5px 5px 0;
}

span.fa-calendar{
  height: 46px;    
  padding: 17px;
  color: #fff;
  background-color: #AAB;
  border-radius: 5px 0 0 5px;
}

span.fa-calendar:hover{
  cursor: pointer;
}

background: url(images/comment-author.gif) no-repeat scroll 7px 7px;
padding-left:30px;

/*********************
    Responsive
**********************/
@media only screen and (max-width: 425px) {
    /* For mobile phones: */
    col-sm-2{
      width: 20%;
      margin:50%;

    }
}

/*********************
  Modal for light box
**********************/
.image_gallery .panel-body{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
}

.image_gallery .container{
  width: 100%;
}

#lightbox .main_image{
  margin: 0 auto;
}

.image_gallery .thumbnail{
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0 auto;
  display: flex;
}
.image_gallery .thumbnail .col-sm-1{
  display: table-cell;
  width: 100px;
  height: 100px;
  padding: 0; 
}
.image_gallery .thumbnail img{
  width: 100px;
  height: 100px;
}

.listings_info .row:after {
  content: "";
  display: table;
  clear: both;
}

.listings_info .col-sm-3{
  padding: 0 5px;
}

.image_gallery .images img{
  width: 230px;
  height: 230px;
  margin: 5px;
}
/* The Modal (background) */
.listings_info .modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  height: 100%;
  background-color: black;
}

/* Modal Content */
.listings_info .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.listings_info .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  opacity: 1;
}

.listings_info .close:hover,
.listings_info .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.listings_info .main_image img{
  margin: 0 auto;
  display: block;
  width: 450px;
  height: 450px;
}

.listings_info .main_image{
  display: none;
}

/* Next & previous buttons */
.listings_info .prev,
.listings_info .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.listings_info .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.listings_info .prev:hover,
.listings_info .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.listings_info .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.listings_info .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.listings_info img.demo {
  opacity: 0.6;
}

.listings_info .active,
.listings_info .demo:hover {
  opacity: 1;
}

.listings_info img.hover-shadow {
  transition: 0.3s
}

.listings_info .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}